APP_ENV=production
APP_URL=your-render-app.onrender.com
APP_TIMEZONE=Africa/Nairobi

DB_DRIVER=pgsql
DB_HOST=db.dqahtarnczxbdzzhzjuc.supabase.co
DB_NAME=postgres
DB_USER=postgres
DB_PASS=@Carino24@Pammy
DB_PORT=5432
DB_SSLMODE=require
# Optional alternative:
# DATABASE_URL=postgresql://user:password@host:5432/postgres?sslmode=require

MAX_FILE_SIZE_MB=20
